@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
div{
    width: 200px;
    color: black;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background:rgba(64,64,64,0.15);
    border: 3px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    padding: 30px;
    backdrop-filter: blur(25px);
    text-align: center;
    color: white;
    width: 400px;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
    font-weight: 300;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid transparent;
    background-image: url("proxy-image (4).jpeg");
    background-size: cover;
    background-position: center;
}    
p{
    font-family: 'poppins',sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
}
#Add-btn{
    width: 100%;
    padding: 10px 0;
    background: #2F9CF4;
    border: none;
    border-radius: 99px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

}
#Add-btn:hover{
    background: #0B87EC;
}
#div0 input{
    margin-bottom: 10px;
}